*{ font-family: "Roboto"}
body{ 
	height: 100%;
	min-width: 1024px;
}
body, html, #root {
	margin: 0;
	padding: 0;
}

a { text-decoration: none;}

header img, header nav { margin: 0.5% 2%; }

main {
	margin-left: 10%;
}

.flex{ display: flex;}

.App {
	background-color: #FBFBFB;
	border: 1px solid white;
	display: inline-block;
	margin-top: 45px;
  }

  .tooltip {
	position: absolute;
	top: 0;
	background-color: #E60000;
	padding: 1%;
	color: white;
}
.tooltip p {
	font-size: small;
}

h1 {
	margin-top: 5%;
	font-size: xxx-large;
}
  
h1, main p, #dashboard {
	margin-left: 6%;
}

h1 span {
	color: #FF0101;
}

main p:first-of-type {
	font-size: large;
	font-weight: bold;
}

.day:hover {
	fill: #C4C4C4;
}

#daily-activity-graph {
	background-color: #FBFBFB;
	border-radius: 5px;
	padding: 3% 0%;
}


#graph {
	width: 70%;
}
#summary {
	margin-right: 3%;
}
#dashboard {
	display: flex;
	justify-content: space-between;
}
#summary div.summaryItem {
	margin: 0 auto 45px;
	max-width: 258px;
	display: flex;
	background-color: #FBFBFB;
	min-height: 100px;
	max-height: 124px;
	align-items: center;
	min-width: 210px;
	border-radius: 5px;
}
#summary div div:first-of-type img {
	margin: 21px auto;
}
#summary div div:last-of-type p:last-of-type {
	font-size: small;
	color: gray;
	font-weight: normal;
}
#summary div div:last-of-type p:first-of-type {
	font-size: large;
	color: black;
	font-weight: bold;
}
#summary div div:first-of-type {
	width: 60px;
	height: 60px;
	border-radius: 5px;
	text-align: center;
}
.summaryItem div {
	margin: 7%;
}
.summaryItem div p {
	margin: 8px auto;
}

#calories div:first-of-type {
	background-color: rgba(255, 0, 0, 0.066);
}
#glucides div:first-of-type {
	background-color: rgba(249, 206, 35, 0.1);
}
#lipides div:first-of-type {
	background-color: rgba(253, 81, 129, 0.1);
}
#proteines div:first-of-type {
	background-color: rgba(74, 184, 255, 0.1);
}

#performances {
	margin-left: 3.5%;
	margin-right: 3.5%;
}


/**
 * Keyframes
 */

 @keyframes loading {
	from{ transform: rotate(0deg)}
	to { transform: rotate(360deg)}
}